@import '~wsjgraphics-css/src/index.scss';
// go here for a guide to wsjgraphics.css
// https://github.dowjones.net/pages/bentleye/wsjgraphics.css/

@font-face {
  font-family: Aileron;
  src: url("https://www.barrons.com/fonts/woffs/aileron/Aileron-Regular.woff2") format("woff2"),
      url("https://www.barrons.com/fonts/woffs/aileron/Aileron-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

.inset-hed {
  @extend .chart-headline;
}

.inset-dek {
  @extend .chart-dek;
}

.inset-source{
  @extend .chart-source;
}

.b100-nomination-form-b60b15be-9468-4880-a6ed-ab79ca63c1a6-container {
  width: 640px;
  font-family: Aileron !important;
}

.b100-nomination-form-b60b15be-9468-4880-a6ed-ab79ca63c1a6-container p {
  font-size: 14px;
  line-height: 18px;
  font-family: Aileron !important;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.input-label {
  width: 190px;
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  color: rgba(33, 50, 51, 0.8);
  border-radius: 2px;
}

input,
textarea {
  width: 420px;
  margin-left: 10px;
  border: 1px solid rgba(33, 50, 51, 0.8);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5px;
}

input.size-small {
  height: 40px;
}

textarea.size-large {
  height: 150px;
}

.input-label.error {
  color: #D93D12;
}

input.error,
textarea.error {
  border: 2px solid #D93D12;
}

.divider {
  border-bottom: 1px solid rgba(165, 165, 165, 0.3);
  margin-bottom: 20px;
}

.identity-button-container {
  margin-left: 10px;
  display: inline;
}

.identity-button {
  width: 90px;
  height: 40px;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  background-color: white;
  color: rgba(33, 50, 51, 0.8);
  border: 1px solid rgba(165, 165, 165, 0.3);
}

.yes-button.active {
  background-color: #009788;
  color: white;
}

.no-button {
  margin-left: -4px;
}

.no-button.active {
  background-color: #D93D12;
  color: white;
}

.submit-button-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.submit-button {
  width: 234px;
  margin: auto;
  height: 44px;
  background: #007BBD;
  border: unset;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.error-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.error-message {
  color: #D93D12;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
}

.error-container.inactive {
  display: none;
}

@media screen and (max-width: 640px) {
  .b100-nomination-form-b60b15be-9468-4880-a6ed-ab79ca63c1a6-container {
    width: 100%;
  }

  .input-container {
    display: block;
  }

  .input-label {
    width: 100%;
  }

  input,
  textarea,
  .identity-button-container  {
    width: 100%;
    margin-left: unset;
    margin-top: 10px;
    display: block;
  }

  .identity-button {
    width: 50%;
  }

}